doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title= title
        link(rel='stylesheet' href='./style.css')
    body
        header
            h1= title
        main
            p= content