include data_item
doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="data:,")
        title= title
        script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")

    body(class='container mx-auto bg-white dark:bg-gray-950 dark:text-white')
        header
            h1(class='text-5xl/14 font-light mb-4')= title
        main
            p.mb-4= content
            +data_item(data) //- data_item.pugのmixinを呼び出し。引数に data を渡す。