include data_item
doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        title ミニメッセージボード
        script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")
        script.
            function init() {
                const id = localStorage.getItem('id');
                if (id === null) {
                    location.href = '/login';
                }
                document.querySelector('#id').textContent = `ID: ${id}`;
                document.querySelector('#id_input').value = id;
            }
            document.addEventListener('DOMContentLoaded', init)

    body(class='container mx-auto bg-white dark:bg-gray-950 dark:text-white')
        header
            h1(class='text-5xl/14 font-light mb-4') メッセージボード
        main
            p ※メッセージは最大10個まで保管されます。
            .w-full.mt-4
                p#id.mb-6
                form(method='post' action='/' class='mx-auto')
                    input(type='hidden' name='id')#id_input
                    .mb-4
                        label(for='msg' class='block mb-2 text-sm font-medium') Message
                        input(type='text' name='msg' class=`shadow appearance-none border
                      rounded w-full py-2 px-3 leading-tight focus:outline-none
                      focus:shadow-outline`)#msg
                    button(type='submit' class=`text-white bg-blue-700 hover:bg-blue-800
                    focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium
                    rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
                    dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800`)
                        | 送信

            .w-full.mt-4.relative.overflow-x-auto.shadow-md
                +data_item(data)
